p{
	color: red;
	font-family: sans-serif;
} 	
h1{
	text-align: center;
<<<<<<< HEAD
	font-family: sans-serif;
=======
	padding: 20px;
	text-align: 10px;
>>>>>>> parent of c7ca050... Update styles.css
}
