#header {
	background-color: lightgrey;
	width: 33%;
}

#workingdays {
	background-color: lightblue;
	width: 33%;	
}

#logo {
	background-color: lightgreen;
	width: 33%;
}

p {
	font-size: 18px;
	font-family: Arial;
	text-align: left;
	padding-left: 3px;
	text-align: top;
	margin-top: 5px;
}

table {
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	margin-top: 5px;
	border-width: 1px;
	border-color: black;
}